<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAdOXQP1L1CZw42owaTcytUMaM8ETXQBw</string>
	<key>GCM_SENDER_ID</key>
	<string>1015418824161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.taxitips.app</string>
	<key>PROJECT_ID</key>
	<string>taxitips-se</string>
	<key>STORAGE_BUCKET</key>
	<string>taxitips-se.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015418824161:ios:6fa297c7276b6d41859ea0</string>
</dict>
</plist>
